.site a.pure-menu-heading {
  color: #a00;
  padding-left: 0;
}

.site a.pure-menu-heading:hover {
  color: #000;
}

ul.posts {
  padding-left: 0;
}

.lang-button {
  float: right;
  margin-top: 15px;
}
