/* Menu styling */

.site a.pure-menu-heading {
  color: #a00;
  padding-left: 0;
  text-transform: none;
}

.site a.pure-menu-heading:hover {
  color: #000;
}

.lang-button {
  float: right;
  margin-top: 1em;
}

/* Align posts */

ul.posts {
  padding-left: 0;
}

/* People page styling */

.member-photo-container img {
  margin-top: 4em;
}

/* fix for pure.css grid firefox bug, see
/* https://github.com/yui/pure/issues/41 and
/* https://github.com/yui/pure/issues/60 */
.pure-g, .pure-g-r {
  font-family: Arial;
}
